# Shared defaults (non-sensitive)
# These can be overridden by .env.development.local or .env.production.local

# Template Part Revalidation Time (in seconds)
TEMPLATE_PART_REVALIDATE=300

# WordPress Theme Name
WP_THEME="elevation-theme"
