<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)">
    <!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}}} /-->

    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"},"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}},"fontSize":"sm","textColor":"gray-500"} -->
    <div class="wp-block-group has-gray-500-color has-text-color has-sm-font-size">
        <!-- wp:post-date /-->
        <!-- wp:paragraph -->
        <p>&bull;</p>
        <!-- /wp:paragraph -->
        <!-- wp:post-author {"showAvatar":false} /-->
        <!-- wp:paragraph -->
        <p>&bull;</p>
        <!-- /wp:paragraph -->
        <!-- wp:post-terms {"term":"category"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}}} /-->

    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->

    <!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|40"}}}} -->
    <hr class="wp-block-separator has-alpha-channel-opacity"/>
    <!-- /wp:separator -->

    <!-- wp:post-terms {"term":"post_tag","prefix":"Tags: ","fontSize":"sm"} /-->

    <!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}},"layout":{"type":"flex","justifyContent":"space-between"}} -->
    <div class="wp-block-group">
        <!-- wp:post-navigation-link {"type":"previous","label":"Previous Post"} /-->
        <!-- wp:post-navigation-link {"label":"Next Post"} /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
